Repository tc39/ecma262, pull requests merged in 2018-09, with the labels that each got.

#1266 Misc editorial
  spec.html
Labels: editorial change

#1298 Normative: Add missing GetValue() to TemplateLiteral evaluation
  spec.html
Labels: normative change, spec bug

#1218 Update Unicode property lists per Unicode v11
  spec.html
  table-binary-unicode-properties.html
  table-unicode-script-values.html
Labels: normative change, unicode

#1310 Editorial: fix some Iterator call completions
  spec.html
Labels: editorial change
